{% extends 'master.html' %}

{% block title %}
  Promway Rescue - Adoptable Dogs
{% endblock %}

{# Load Tags #}
{% load rescue_tags %}

{% block content %}
  <div id="dogs" class="py-2 px-5 mx-auto max-w-screen-xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:px-2 gap-4">
    {% for rescue in available_rescues %}
      <a href="{% url 'dogs:detail' rescue.id %}" class="mx-auto w-full max-w-md bg-white border border-dark rounded-sm shadow-xl">
        <div class="bg-dark">
        <img class="h-80  mx-auto" src="{{ rescue.profile_pic.url }}" alt="" />
        </div>
        <div class="px-5 py-2">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-primary">{{ rescue.name }}</h5>
          <p class="mb-3 font-normal text-secondary"> {{ rescue.sex }} {{ rescue.breed }} <i class="fa-solid fa-minus"></i> {{ rescue.dob|age }} Old</p>
        </div>
        <ul class="flex flex-row justify-between mx-auto py-3 px-8 rounded-b-sm text-light bg-dark fa-2x">
          <li data-tooltip-target="tooltip-df" class="hover:animate-bounce">{{rescue.dog_friendly|bool_icon:'fa-dog'}}</li>
          <div id="tooltip-df" role="tooltip" class="info-tooltip">Dog Friendly?</div>
          <li data-tooltip-target="tooltip-cf" class="hover:animate-bounce">{{rescue.cat_friendly|bool_icon:'fa-cat'}}</li>
          <div id="tooltip-cf" role="tooltip" class="info-tooltip">Cat Friendly?</div>
          <li data-tooltip-target="tooltip-chf" class="hover:animate-bounce">{{rescue.child_friendly|bool_icon:'fa-children'}}</li>
          <div id="tooltip-chf" role="tooltip" class="info-tooltip">Child Friendly?</div>
          <li data-tooltip-target="tooltip-hb" class="hover:animate-bounce">{{rescue.house_broken|bool_icon:'fa-house-chimney'}}</li>
          <div id="tooltip-hb" role="tooltip" class="info-tooltip">House-Broken?</div>
        </ul>
      </a>
    {% endfor %}
  </div>
{% endblock %}
