{% extends 'master.html' %}

{% block title %}
  Promway Rescue - {{ dog.name }}
{% endblock %}

{# Load Tags #}
{% load rescue_tags %}

{% block content %}

  <div class="py-2 px-5 mx-auto max-w-screen-xl">
  {% if dog.adopted %}
    <div class="text-danger-light bg-dark border-danger border-b-4 border-l-8 p-2 mb-2 rounded-sm shadow-lg">
      <i class="fa-solid fa-triangle-exclamation fa-2x"></i> This dog has been adopted! Please visit our adoptable dogs <a class="text-medium underline underline-offset-2" href="{% url 'dogs:adoptable' %}">here</a>.
    </div>
  {% endif %}

    <div class="bg-white border border-y-2 border-dark rounded-sm shadow-lg">
      <p class="text-4xl font-semibold text-primary p-2 px-4">{{ dog.name }}</p>

      <div id="carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-96 overflow-hidden bg-dark border-t-2 border-secondary md:h-96">
          {% for image in dog.galleryimage_set.all %}
             <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{ image.image.url }}" class="absolute block w-auto h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="{{image.image.id}}">
            </div>
            {% endfor%}
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
            {% for i in dog.galleryimage_set.all %}
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide {{ forloop.counter }}" data-carousel-slide-to="{{ forloop.counter0 }}"></button>
            {% endfor %}
        </div>
        
    </div>

    </div>

  </div>
 
{% endblock %}
